@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");

body {
  background-color: #eeeeee;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0 auto;
}

h1 {
  color: #0f044c;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 600;
  margin: 5px;
}

h2 {
  color: #0f044c;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 900px;
}

img {
  width: 100px;
  border-radius: 20px;
  box
}

p {
  color: #0f044c;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 100;
}

.container {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 10px;
  text-align: center;
  width: 600px;
  margin: 20px auto;
}

.social_network {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 10px;
  text-align: center;
  width: 600px;
  margin: 15px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .social_network {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .social_network {
   width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .social_network {
    width: 300px;
  }
}

i {
  font-size: 20px;
  text-align: center;
}

a {
  background-color: #0f044c;
  color: white;
  padding: 6px 20px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
}

a:hover {
  background-color: blue;
}

.list_inline {
  list-style: none;
  padding-left: 0;
}

.list_inline li {
  display: inline-block;
}
